/vendor
/node_modules

.env
.env.backup

/public/hot
/public/storage
/public/build

/storage/*.key
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

/bootstrap/cache/*.php

.phpunit.result.cache

npm-debug.log
yarn-error.log
pnpm-debug.log

/.idea
/.vscode

*.sqlite*